body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

@media (max-width: 600px) {
  body {
    font-size: 15px;
    padding: 0;
  }
  .MuiContainer-root {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .MuiTypography-h4 {
    font-size: 1.3rem !important;
  }
}
